In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("cars.csv")

In [13]:
print(df.head())

                                                info
0  Car;MPG;Cylinders;Displacement;Horsepower;Weig...
1  STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;...
2  Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3...
3  Buick Skylark 320;15.0;8;350.0;165.0;3693.;11....
4  Plymouth Satellite;18.0;8;318.0;150.0;3436.;11...

In [17]:
print(df.columns)

Index(['info'], dtype='object')

In [19]:
df['info'].str.split(';')

0      [Car, MPG, Cylinders, Displacement, Horsepower...
1      [STRING, DOUBLE, INT, DOUBLE, DOUBLE, DOUBLE, ...
2      [Chevrolet Chevelle Malibu, 18.0, 8, 307.0, 13...
3      [Buick Skylark 320, 15.0, 8, 350.0, 165.0, 369...
4      [Plymouth Satellite, 18.0, 8, 318.0, 150.0, 34...
                             ...
403    [Ford Mustang GL, 27.0, 4, 140.0, 86.00, 2790....
404    [Volkswagen Pickup, 44.0, 4, 97.00, 52.00, 213...
405    [Dodge Rampage, 32.0, 4, 135.0, 84.00, 2295., ...
406    [Ford Ranger, 28.0, 4, 120.0, 79.00, 2625., 18...
407    [Chevy S-10, 31.0, 4, 119.0, 82.00, 2720., 19....
Name: info, Length: 408, dtype: object

In [25]:
split_info = df['info'].str.split(';', expand = True)

#### adding new columns

In [33]:
df = split_info.rename(columns={0:'Car', 1:'MPG', 2:'Cylinders', 3:'Displacement', 4:'Horsepower', 5:'Weight', 6:'Acceleration', 7:'Model', 8:'Origin'})

In [40]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
2,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
3,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
4,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
...,...,...,...,...,...,...,...,...,...
403,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
404,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
405,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
406,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
407,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [41]:
df.shape

(408, 9)

In [47]:
df.set_index('Car')

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
Car,,,,,,,,
Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
...,...,...,...,...,...,...,...,...
Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [52]:
df.iloc[2]

Car             Chevrolet Chevelle Malibu
MPG                                  18.0
Cylinders                               8
Displacement                        307.0
Horsepower                          130.0
Weight                              3504.
Acceleration                         12.0
Model                                  70
Origin                                 US
Name: 2, dtype: object

In [53]:
df.drop([0,1], axis=0,inplace=True)

In [55]:
DataFrame= df.set_index('Car')

In [58]:
DataFrame

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
Car,,,,,,,,
Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
...,...,...,...,...,...,...,...,...
Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [65]:
DataFrame.iloc[2]

MPG              18.0
Cylinders           8
Displacement    318.0
Horsepower      150.0
Weight          3436.
Acceleration     11.0
Model              70
Origin             US
Name: Plymouth Satellite, dtype: object

In [63]:
len(DataFrame)

406